/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  height: 100%;
}

/* Fonts */

@font-face {
  font-family: Gotham-Bold;
  src: url(./fonts/Gotham-Bold.otf)
}

@font-face {
  font-family: Gotham-Light;
  src: url(./fonts/Gotham-Light-Regular.otf);
}

@font-face {
  font-family: Helvetica-Lt;
  src: url(./fonts/HelveticaNeue-Light.ttf);
}

@font-face {
  font-family: Helvetica-Md;
  src: url(./fonts/HelveticaNeue-Medium.ttf);
}

@font-face {
  font-family: Helvetica-Bd;
  src: url(./fonts/HelveticaNeue-Bold.ttf);
}

/* Navbar */

.bg-color {
  background-color: #383838;
}

.navbar-nav .nav-item .nav-link {
  color: #888888;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #D35266;
}

/* Title and Search */

.flex {
  display: flex;
}

.title-search {
  background-color: #D35266;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 0;
  color: white;
}

.title-search h1 {
  font-family: Gotham-Bold, Helvetica, sans-serif;
  font-size: 4.5rem;
}

.title-search .no-radius {
  border-radius: 0;
}

.title-search .form-control {
  border: none;
}

.title-search .col{
  margin: 1px 1px;
}

.search-btn {
  width: 100%;
}


